.s11{
	visibility: hidden;
}
.s2{
	display: block;
	transform: rotate(135deg);
     position: relative;
     bottom: 4px;
	
	
}
.s3{

	transform: rotate(45deg);
	position: absolute;
	top: 8px;
	
}
.img_yellow1,.img_yellow2,.img_yellow3,.img_yellow4{
	display: none;
}

.border{
	display: block;
	height: 3px;
	background-color: orange;
	transform: scaleX(0);
    transform-origin: 0 50%;	
    transition: transform 0.6s;
}
.border1{
	display: block;
	height: 3px;
	background-color: orange;
}
.nava:hover .border{
	transform: scaleX(1);
} 
.d1{
	width: 100%;
	height: 600px;
}
/*轮播字体*/
h1,h2{
	margin: 0px;
	padding: 0px;
	z-index: 6;
}
.d2{
width: 50%;
position: absolute;
top: 50%;
left: 25%;
z-index: 6;

}
.d3{
	position: absolute;
	width: 100%;
	height:100%;
	background-color:black;
	
	opacity: 0.2;
}
.text-head{
	text-align: center;
}
.text-head2{
	text-align: left;
	margin-left: 10px;
	width: 70%;
}
.dd{
	background: url(../img/slide_2.jpg);
	width: 100%;
	height: 800px;
	z-index: 0;
	background-attachment: fixed;
}
a{
	color: orange;
}
		.aa1{
			border-right: 1px solid rgb(231,231,231);
		}
		.a1{
			border-bottom: 1px solid rgb(231,231,231);
		}
	
		@media screen and (max-width: 768px) {
			.aa1{
				border-right: none;
			}
			.a2{
				border-bottom: 1px solid rgb(231,231,231);
			}
		}
		.a_bid{
			margin-right: 15px;

		}
		.DH:hover{
			opacity: 0.3;
			color: gray;
		}
		.a_hover:hover{
			color: red;
		}
		
